.noUi-connect {
    background: transparent;
}

.noUi-connects:after {
    content: '';
    background: linear-gradient(90deg, rgba(217, 119, 6, 1) 0%, rgba(225, 29, 72, 1) 35%, rgba(55, 65, 81, 1) 100%);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.noUi-marker {
    display: none;
}
.noUi-pips-horizontal {
    padding: 0;
    height: auto;
}
